.app {
  text-align: center;
}

.logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 24px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

